body {
    font-family: 'Quicksand', sans-serif;
}

.do-gory {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    background-color: rgba(145, 0, 0, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 9999;
    color: white;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.do-gory:hover {
    background-color: rgba(145, 0, 0, 1);
    color: white;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
}
.ukryj {
    visibility: hidden;
    opacity: 0;
}
header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(72, 1, 1, 0.4)), to(rgba(0, 58, 92, 0.5))), url('../img/tlo1.jpg');
    background-image: linear-gradient(rgba(72, 1, 1, 0.4), rgba(0, 58, 92, 0.5)), url('../img/tlo1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.navbar-default {
	background-color: transparent !important;
	border-color: transparent;
	background-image: none;
	-webkit-box-shadow: none;
	        box-shadow: none;	
	-webkit-transition: all 1s;	
	transition: all 1s;
}
nav.tlo {
	background-color: rgba(0, 0, 0, 0.75)!important;
	-webkit-transition: all 1s;
	transition: all 1s;
}
.navbar-default .navbar-header .navbar-brand {
	font-size: 2em;
    color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
}
.navbar-default #navbar ul li a {
	font-size: 1.5em;
    color: #fff;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom .3s;
    transition: border-bottom .3s;
}

.navbar-default #navbar ul li a:hover {
	border-bottom: 2px solid #ffffff;
}
.navbar-brand {
    height: 80px;
    padding-top: 5px;
}

.nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.slogan {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%,-40%);
            transform: translate(-50%,-40%);
}

.slogan h1,
.slogan p {
    text-align: center;
    color: white;
}
.slogan h1 {
    font-size: 80px;
}
.slogan p {
    font-size: 30px;
}
div.time_circles {
    color: rgba(255,255,255,0.7);
}
.story p {
    text-align: justify;
    font-size: 1.5em;
}
.arrow {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    font-size: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-animation: arrow 1s infinite;
            animation: arrow 1s infinite;
}
.arrow a {
    color: white;
}
.arrow a i {
    cursor: pointer;
}
@-webkit-keyframes arrow {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
@keyframes arrow {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

section.sec2,
section.sec2 > .row {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}
section.sec2 .myGallery{
	padding-left: 0;
	padding-right: 0;
}
section.sec2 > div > div > figure {
	overflow: hidden;
}
section.sec2 > div > div > figure > a img {
	width: 100%;
	height: auto;
	opacity: .8;
	-webkit-transition: all .3s;
	transition: all .3s;
}
section.sec2 > div > div > figure > a img:hover {
	opacity: 1;
	-webkit-transform: scale(1.03);
	        transform: scale(1.03);
}
.h-line {
	display: inline-block;
}
.h-line:after {
	content: "";
	display: block;
	border-bottom: 2px solid orange;
}

#organizacja-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(72, 1, 1, 0.4)), to(rgba(0, 58, 92, 0.5))), url('../img/tlo2.jpg');
    background-image: linear-gradient(rgba(72, 1, 1, 0.4), rgba(0, 58, 92, 0.5)), url('../img/tlo2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#organizacja {
    color: rgb(230, 230, 230);
}
#organizacja > div > div.col-md-8.informacje > div {
    background: rgba(0, 0, 0, 0.6);
    padding: 0 15px 20px 15px;
    border-radius: 5px;
}

.list-group-item.black, .list-group-item.black:focus, .list-group-item.black:hover {
    z-index: 2;
    color: #fff;
    background-color: #242424;
    border-color: #242424;
}
.komitet-org {
    margin-top: 20px;
}

.informacje {
    margin: 20px 0 20px 0;
}
#organizacja > div > div.col-md-8.informacje > div > p {
    font-size: 1.3em;
}
.bank {
    text-decoration: underline;
    font-weight: bold;
}
section#kontakt {
    height: 450px;
}

section#kontakt img {
    max-width: inherit!important
}

.info-window {
    color: #2c2c2c;
}

footer {
    height: 100px;
    background-color: rgb(18, 22, 29);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
    .slogan h1 {
        font-size: 60px;
    }
    .slogan p {
        font-size: 25px;
    }
  }

@media screen and (max-width: 768px) {
    .slogan h1 {
        font-size: 40px;
    }
    .slogan p {
        font-size: 15px;
    }
    .do-gory {
        position: fixed;
        right: 20px;
        bottom: 30px;
    }
  }